---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'What do I need to start?',
			answer: `You need to have <b>Docker Desktop 4.10 or higher</b>.`,
		},
	],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Frequently Asked Questions
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
