---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
import * as heroContent from "~/content/hero.md";
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Celebrate
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500"
						>Hacktoberfest</span
					> with
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap"
						>Docker Extensions</span
					>
				</h1>
				<div class="max-w-3xl mx-auto">
					<span class="text-xl text-gray-600 dark:text-slate-400">
						<heroContent.Content />
					</span>
					<div class="max-w-none pt-8 px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
								target="__blank"
								href="https://github.com/docker/hacktoberfest-2022#%EF%B8%8Flist-of-docker-extensions-for-hacktoberfest-2022"
							>
								<Icon name="akar-icons:github-fill" class="w-5 h-5 mr-1 -ml-1.5" /> See all available repositories</a
							>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="relative mb-8 m-auto max-w-3xl">
					<Picture
						src={heroContent.frontmatter.image}
						class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="16:9"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
