---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">How To Build Your First Docker Extension</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								Getting started building an extension is straightforward: download the latest version of Docker Desktop
								and use the Extensions CLI to create one.
							</p>

							<div class="w-full">
								<a
									class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
									href="https://www.docker.com/products/docker-desktop/"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Download Docker Desktop
								</a>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Create the extension from a boilerplate</h3>
									<p
										class="text-gray-500 bg-gray-100 dark:bg-slate-700 inline-block mr-2 mb-2 py-0.5 px-2 dark:text-gray-400"
									>
										$ docker extension install my-extension
									</p>
									<br />
									<p class="text-gray-500 dark:text-gray-400">
										Generates a hello-world extension with a basic UI and a connected backend service (optional).
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Build and install the extension</h3>
									<p
										class="text-gray-500 bg-gray-100 dark:bg-slate-700 inline-block mr-2 mb-2 py-0.5 px-2 dark:text-gray-400"
									>
										$ make install-extension
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Open the Docker Desktop Dashboard</h3>
									<p class="text-gray-500 dark:text-gray-400">
										Test the extension by navigating to the extension tab in the left-menu drawer. You now have a
										running extension!
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="relative mb-8 m-auto max-w-3xl pt-16">
						<Picture
							src={import('~/assets/images/init-extension-screenshot.png')}
							class="mx-auto rounded-md w-full"
							widths={[400, 768]}
							sizes=" (max-width: 767px) 400px, 768px"
							alt="Init Extension"
							aspectRatio="16:9"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
