---
import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Need some inspiration?
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400">
					We've selected a few projects that could be interesting for you.
				</p>
				<p class="text-xl text-gray-600 dark:text-slate-400 pt-2">
					Do you think you could integrate them in Docker Desktop?
				</p>
				<div class="mt-6">
					<a
						class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
						href="https://github.com/docker/hacktoberfest-2022#list-of-docker-extensions-suggestions"
						target="_blank"
						rel="noopener"
					>
						<Icon name="ci:external-link" class="w-5 h-5 mr-1 -ml-1.5" /> See projects
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
