---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Celebrate
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">Hacktoberfest</span> with
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap"
						>Docker Extensions</span
					>
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						Hacktoberfest is a month-long celebration of open-source projects, their maintainers, and the entire community of contributors. This event is all about giving back to the community and celebrating all things open source. We’d like to invite you to celebrate Hacktoberfest with us and contribute to the Docker Community Extensions.
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
								target="__blank"
								href="https://github.com/docker/hacktoberfest-2022">
								See all available repositories</a
							>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="relative mb-8 m-auto max-w-3xl">
					<Picture
						src={import('~/assets/images/hacktoberfest-docker.png')}
						class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="16:9"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
