---
import Picture from '~/components/core/Picture.astro';

import { findPostsByIds } from '~/utils/posts';
import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';
---

<section class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
		<h2 class="max-w-lg mb-2 text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group font-heading">
			<span class="inline-block mb-1 sm:mb-4">Videos</span>
		</h2>
	</div>

	<div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4 -mb-6 space-x-12">
		<article class="mb-6 transition">
			<iframe width="320" height="320" src="https://www.youtube.com/embed/zfDSFw9Z8YY"></iframe>
			<h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading mt-2">
				<a
					href="https://www.youtube.com/embed/zfDSFw9Z8YY"
					target="__blank"
					class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
				>
					What are Docker Extensions
				</a>
			</h3>
			<p class="text-gray-700 dark:text-gray-400">
				Integrate tools into Docker Desktop with Docker Extensions to optimize and transform your Docker workflows
			</p>
		</article>
		<article class="mb-6 transition">
			<iframe width="320" height="320" src="https://www.youtube.com/embed/BHKp7Sc3VVc?start=232"></iframe>
			<h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading mt-2">
				<a
					href="https://www.youtube.com/embed/BHKp7Sc3VVc?start=232"
					target="__blank"
					class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
				>
					Introducing Docker Extensions
				</a>
			</h3>
			<p class="text-gray-700 dark:text-gray-400">
				Docker Captain Bret Fisher introduces Docker Extensions alongside Docker engineers in his DevOps and Docker Live
				Show (Ep 174)
			</p>
		</article>
		<article class="mb-6 transition">
			<iframe width="320" height="320" src="https://www.youtube.com/embed/Fu6BuqJ4MtE"></iframe>
			<h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading mt-2">
				<a
					href="https://www.youtube.com/watch?v=Fu6BuqJ4MtE"
					target="__blank"
					class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
				>
					How to Build Your First Docker Extension
				</a>
			</h3>
			<p class="text-gray-700 dark:text-gray-400">
				This talk will walk you through the steps on how to develop, install, and preview a simple extension inside
				Docker Desktop
			</p>
		</article>
		<article class="mb-6 transition">
			<iframe width="320" height="320" src="https://www.youtube.com/embed/HqCnOhbcobE"></iframe>
			<h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading mt-2">
				<a
					href="https://www.youtube.com/embed/HqCnOhbcobE"
					target="__blank"
					class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
				>
					Creating Docker Desktop Extensions - How To Guide
				</a>
			</h3>
			<p class="text-gray-700 dark:text-gray-400">
				Docker Captain James Spurin shares the process for creating your own Docker Extensions and the lessons learnt
			</p>
		</article>
	</div>
</section>
